:root{
    --card-color: #2e2d2d;
    --card-text-color: #f1f1f1;
}

.containerServico {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte caso não caibam */
    flex-direction: row; /* Faz com que os cards apareçam lado a lado */
    gap: 20px; /* Espaçamento entre os cards */
    margin-top: 20px;
    width: 100%; /* Faz o container ocupar toda a largura disponível */
}

.card {
    width: 30%; /* Define a largura de cada card (ajuste conforme necessário) */
    box-sizing: border-box; /* Para garantir que o padding e border não aumentem o tamanho do card */
    border-radius: 8px; /* Bordas arredondadas (opcional) */
    overflow: hidden; /* Garante que o conteúdo dentro do card não vaze */
    align-items: center;

}

.containerGeral {
    display: flex;
    flex-direction: column; /* Deixe os elementos internos do card dispostos em coluna */
    margin: 10px;
    background-color: #2e2d2d;
    border-radius: 10px;
    padding-bottom: 5px;
}

.servHeader {
    display: flex;
    background-color: var(--card-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    width: 100%; /* Ocupará 100% da largura do pai */
    box-sizing: border-box; /* Inclui o padding no cálculo do tamanho total */
    border-bottom: 1px solid #039aff;
}

.servHeader .img {
    width: 50px; /* Largura fixa ou ajustável */
    height: auto; /* A altura será ajustada automaticamente */
    flex-shrink: 0; /* Evita que a div encolha */
}

.servHeader .img img {
    width: 100%; /* A imagem ocupa toda a largura do container pai */
    height: 100%; /* Ajusta a altura proporcionalmente */
    object-fit: cover; /* Garante que a imagem mantenha sua proporção, cortando se necessário */
    border-radius: 8px;
    display: block;
}
.titulo{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .card {
        width: 100%; /* Em telas menores, os cards ocuparão toda a largura */
    }

    .servHeader .img {
        width: 80px; /* Ajuste para telas menores */
    }
}
